.card__body{
     width: 90vw;
     margin: 5% ;
     border: none;
}

.card__img {
    width: 100%;
}
.card__title {
    width: 90%;
    text-align: center;
    font-size: 180%;
    margin-top: 6%;
    color: white;
    font-weight: 600;
   
}

@media (max-width: 375px) {
    .Card__body{
        margin: 5%;   
   }

   .card__img {
    height: 20vh;
    }
    
    .card__title {
    font-size: 100%;
    }
}

@media (max-width: 540px) {
    .moviesGrid {
        grid-template-columns: 100%;  
    }
}